In [1]:
# Import libraries:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
# header = {'User-Agent':'cjbratkovics2'}

In [2]:
# base_url = 'https://www.trulia.com/'
# url = 'https://www.trulia.com/NY/New_York/10011/'

In [3]:
# base_res = requests.get(base_url, headers = header)
# res = requests.get(url, headers = header)

In [4]:
def gather_housing_data(url):
    # Initialize results list to store all data from this page.
    results = []
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')
    
    # Find and store the price of each house; most important.
    house_prices = soup.find_all('span', {'class': 'cardPrice h5 man pan typeEmphasize noWrap typeTruncate'})
    prices = []
    for i in house_prices:
        prices.append(i.text)

    # Find and store each house's address.
    house_addresses = soup.find_all('div', {'class': 'h6 typeWeightNormal typeTruncate typeLowlight mvn'})
    addresses = []
    for i in house_addresses:
        addresses.append(i.text)

    # Find and store the city/state of each house.
    house_cities = soup.find_all('div', {'class': 'typeTruncate typeLowlight'})
    cities = []
    for i in house_cities:
        cities.append(i.text)
    
    # Find and store the bedrooms, bathrooms, and area of each house.
    general_house_info = soup.find_all('ul', {'data-testid': 'cardDescription'})
    info = []
    for g in general_house_info:
        s = g.text
        s = s.replace(',', '')
        info.append(s)

    # Save all data for each house in the result dictionary.
    for i in range(len(house_prices)):
        # Initialize empty result dictionary to store results from each page.
        result = {}
        
        # Store all meaningful values to result dictionary.
        result['price'] = prices[i]
        result['qualities'] = info[i]
        result['address'] = addresses[i]
        result['city/state'] = cities[i]
    
        # Add all result dictionary data to results list.
        results.append(result)
    
    # Return the results from the page and url.
    return results, url

In [5]:
def update_url(page_url, count):
    
    # Assume there is no next page.
    next_exists = False
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(page_url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')

    # Find and store the next page url.
    next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
    
    for p in next_pages:
        if (p.attrs['aria-label'] == 'Next page'):
            next_page_url = p.attrs['href']
            next_exists = True
        else:
            next_page_url = page_url
    # If the next page doesn't exist, assign next_url to None.
    if next_exists == False:
        count += 1
            
    # Return the results from this page and the next page's url.
    return next_page_url, count

In [6]:
def data_cleaning(df):
    df['studio'] = df['qualities'].str.extract(r'(Studio)')
    
    df['bath'] = df['qualities'].str.extract(r'([0123456789]ba)')
    df['bath'] = df['bath'].map(lambda bath_cell: np.nan if bath_cell == 'NaN' else str(bath_cell))
    df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('ba', ''))
    df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('0', '10'))
    df['bath'] = df['bath'].astype(float)
    
    df['bed'] = df['qualities'].str.extract(r'([0123456789]bd)')
    df['bed'] = df['bed'].map(lambda bed_cell: np.nan if bed_cell == 'NaN' else str(bed_cell))
    df['bed'] = df['bed'].map(lambda bath_cell: bath_cell.replace('bd', ''))
    df['bed'] = df['bed'].astype(float)
    
    df['price'] = df['price'].map(lambda price_cell: price_cell.replace('$', ''))
    df['price'] = df['price'].map(lambda price_cell: price_cell.replace(',', ''))
    df['price'] = df['price'].astype(float)
    
    df['drop_sqft'], df['sqft_test'] = df['qualities'].str.split('[0123456789]ba', 1).str
    df['sqft_test'] = df['sqft_test'].map(lambda sqft_cell: np.nan if sqft_cell == '' else str(sqft_cell))
    df['sqft'], df['sqft_test_2'] = df['sqft_test'].str.split(' ', 1).str
    df['sqft'] = df['sqft'].astype(float)
    
    
    df.loc[df['studio'] == 'Studio', 'bed'] = 1
    df.loc[df['studio'] == 'Studio', 'bath'] = 1
    df.loc[df['studio'] != 'Studio', 'studio'] = 0
    df.loc[df['studio'] == 'Studio', 'studio'] = 1
    df['studio'] = df['studio'].astype(float)
    
    df.drop(columns= ['drop_sqft', 'sqft_test', 'sqft_test_2', 'qualities'], inplace=True)
    
    return df

In [7]:
def driver(zipcode):
    
    # Search for zipcode input on Trulia.com home page.
    # Get the url from that search as first_url.
    
    # Initialize url based on zipcode.
    first_url = ('https://www.trulia.com/NY/New_York/' + str(zipcode) + '/')
    
    # Initialize header, request, and beautifulsoup.
    header = {'User-Agent':'cjbratkovics2'}
    res = requests.get(first_url, headers = header)
    soup = BeautifulSoup(res.content, 'lxml')
    
    count = 0
    all_results = []
    
    # Find and store the last page url.
    next_pages = (soup.find_all('a', {'class': 'pvl phm'}))
    
    link_list = []
    link_with_nums = {}
    num_link = {}
    
    for p in next_pages:
        num_link['text'] = p.text
        num_link['attributes'] = p.attrs['href']
        link_list.append(p.attrs['href'])
        
    link_with_nums['page_link'] = np.unique(link_list)
    last_page_url = link_with_nums['page_link'][0]
    
    results, page_url = gather_housing_data(first_url)
    all_results.append(results)
    
    while count < 2:
        if count != 1:
            next_page_url, count = update_url(page_url, count)
            results, page_url = gather_housing_data(next_page_url)
            all_results.append(results)
        else:
            results, page_url = gather_housing_data(last_page_url)
            all_results.append(results)
            count += 1
            
    return all_results

In [8]:
all_results = driver(10011)

In [9]:
def df_builder(all_results):
    r = []
    for i in all_results:
        for j in i:
            r.append(j)
            
    df = pd.DataFrame(r)
    
    df.drop_duplicates(subset = 'address', inplace=True)
    
    return df

In [10]:
big_df = df_builder(all_results)

In [11]:
big_df = data_cleaning(big_df)

In [12]:
big_df.dtypes

address        object
city/state     object
price         float64
studio        float64
bath          float64
bed           float64
sqft          float64
dtype: object

In [13]:
big_df.shape

(425, 7)

In [14]:
big_df.head(40)

,address,city/state,price,studio,bath,bed,sqft
0,13 W 13th St #5JS,"Greenwich Village, New York, NY",999000.0,0.0,1.0,2.0,850.0
1,41 W 12th St,"Greenwich Village, New York, NY",9250000.0,0.0,4.0,4.0,3075.0
2,35 W 15th St #17A,"Flatiron District, New York, NY",6495000.0,0.0,4.0,3.0,2277.0
3,442 W 22nd St #1,"Chelsea, New York, NY",9995000.0,0.0,7.0,5.0,NaN
4,315 W 23rd St #8E,"Chelsea, New York, NY",1875000.0,0.0,2.0,2.0,1241.0
6,450 W 17th St #1204,"Chelsea, New York, NY",1375000.0,0.0,1.0,1.0,600.0
7,145 W 13th St #103,"Greenwich Village, New York, NY",1995000.0,0.0,3.0,2.0,NaN
8,458 W 23rd St #Garden,"Chelsea, New York, NY",559000.0,0.0,1.0,1.0,NaN
9,222 W 14th St #4A,"West Village, New York, NY",999000.0,1.0,1.0,1.0,625.0
10,16 W 19th St #7E,"Flatiron District, New York, NY",1475000.0,0.0,1.0,1.0,904.0
11,201 W 16th St #4A,"Chelsea, New York, NY",1495000.0,0.0,2.0,2.0,101221.0
12,365 W 20th St #9D,"Chelsea, New York, NY",725000.0,0.0,1.0,1.0,62638.0
13,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000.0,0.0,2.0,2.0,1465.0
14,231 W 16th St #5E,"Chelsea, New York, NY",1495000.0,0.0,2.0,2.0,NaN
15,356 W 23rd St #4A,"Chelsea, New York, NY",879000.0,0.0,1.0,2.0,700.0
16,101 W 24th St #33A,"Chelsea, New York, NY",3499000.0,0.0,3.0,2.0,1555.0
17,519 W 23rd St #R1,"Chelsea, New York, NY",1700000.0,0.0,2.0,2.0,1050.0
18,142 5th Ave,"Flatiron District, New York, NY",6950000.0,0.0,4.0,4.0,3500.0
19,335 W 21st St #RE,"Chelsea, New York, NY",799000.0,0.0,1.0,1.0,10250.0
20,42 W 13th St #1B,"Greenwich Village, New York, NY",1795000.0,0.0,2.0,2.0,NaN
21,149 W 12th St #6/6,"Greenwich Village, New York, NY",675000.0,0.0,1.0,1.0,NaN
22,111 W 11th St #3FE,"Greenwich Village, New York, NY",659000.0,1.0,1.0,1.0,NaN
23,201 W 21st St #7-H,"Chelsea, New York, NY",675000.0,0.0,1.0,1.0,NaN
24,342 W 21st St #2D,"Chelsea, New York, NY",725000.0,0.0,1.0,1.0,19440.0
25,118 Waverly Pl #4A,"Greenwich Village, New York, NY",799000.0,0.0,1.0,1.0,NaN
26,43 W 12th St,"Greenwich Village, New York, NY",7750000.0,0.0,4.0,4.0,2288.0
27,166 W 18th St #5C,"Chelsea, New York, NY",5000000.0,0.0,4.0,5.0,2580.0
28,483 W 22nd St,"Chelsea, New York, NY",7900000.0,0.0,6.0,6.0,4155.0
29,520 W 23rd St #12B,"Chelsea, New York, NY",1215000.0,0.0,2.0,2.0,835.0
30,459 W 18th St #2,"Chelsea, New York, NY",9950000.0,0.0,4.0,3.0,3447.0
31,450 W 17th St #4-PENTHOUSE,"Chelsea, New York, NY",3600000.0,0.0,2.0,2.0,1078.0
32,124 W 23rd St #16A,"Chelsea, New York, NY",4495000.0,0.0,3.0,3.0,2025.0
33,450 W 17th St #2009,"Chelsea, New York, NY",4895000.0,0.0,3.0,3.0,1637.0
34,231 W 16th St #1WF,"Chelsea, New York, NY",599999.0,0.0,1.0,1.0,700.0
35,122 Greenwich Ave #5,"West Village, New York, NY",5500000.0,0.0,4.0,3.0,2016.0
36,12 W 17th St #6,"Flatiron District, New York, NY",3500000.0,0.0,2.0,3.0,2500.0
37,148 W 23rd St #3G,"Chelsea, New York, NY",700000.0,0.0,1.0,1.0,802.0
38,175 W 13th St #9A,"Greenwich Village, New York, NY",549000.0,1.0,1.0,1.0,450.0
39,365 W 20th St #11E,"Chelsea, New York, NY",899000.0,0.0,1.0,2.0,NaN
40,100 W 15th St #3A,"Chelsea, New York, NY",499000.0,1.0,1.0,1.0,NaN

In [15]:
big_df.isnull().sum()

address        0
city/state     0
price          0
studio         0
bath           1
bed            3
sqft          62
dtype: int64

In [16]:
big_df['address'].value_counts()

130 W 16th St #21/22       1
305 W 16th St #3H          1
100 W 18th St #5B          1
100 W 12th St #2S          1
360 W 21st St #3A          1
16 W 19th St #6D           1
76 11th Ave #15E           1
305 W 16th St #C           1
50 W 9th St #2A            1
42 W 12th St               1
16 W 16th St #2FS          1
555 W 23rd St #S14G        1
251 W 19th St #7A          1
410 W 24th St #18BCE       1
19 W 12th St               1
150 W 12th St #4south      1
118 Waverly Pl #4A         1
213 W 23rd St #NORTH-6N    1
170 W 23rd St #4R          1
551 W 21st St #4F          1
124 W 24th St #2C          1
35 W 15th St #22A          1
405 W 23rd St #9J          1
114 Waverly Pl             1
173 Macdougal St #3W       1
141 W 13th St #302         1
50 W 15th St #4C           1
76 11th Ave #X22C          1
222 W 14th St #10D         1
32 W 18th St #9A           1
                          ..
210 W 19th St #1E          1
76 11th Ave #28D           1
37 W 12th St #9J           1
127 W 12th St              1
170 W 23rd St #2S          1
555 W 23rd St #N6M         1
250 W 24th St #3GW         1
161 W 15th St #4I          1
222 W 14th St #4A          1
66 9th Ave #W              1
214 W 16th St #3W          1
2 5th Ave #2S              1
140 W 23rd St #4A          1
545 W 20th St #3B          1
250 W 15th St #6F          1
514 W 24th St #8           1
224 W 18th St #5B          1
514 W 24th St #4E          1
15 W 11th St #3C           1
458 W 23rd St #Garden      1
101 W 24th St #2A          1
231 W 16th St #5E          1
560 W 24th St #2           1
151 W 21st St #4C          1
436 W 23rd St #A           1
55 W 17th St #403          1
65 W 13th St #6AB          1
101 W 24th St #31B         1
155 W 11th St #9D          1
305 W 16th St #D           1
Name: address, Length: 425, dtype: int64

In [17]:
big_df[big_df['address'] == '442 W 22nd St #1']

            address             city/state      price  studio  bath  bed  sqft
3  442 W 22nd St #1  Chelsea, New York, NY  9995000.0     0.0   7.0  5.0   NaN

In [18]:
big_df.shape

(425, 7)

In [28]:
# big_df.to_csv('./trulia_10011_final_df.csv')

In [40]:
def summary_stats(df):
    all_stats = []
    numeric_cols = list(df.select_dtypes(include=['float64']).columns)
    for col in numeric_cols:
        stat_col = df[col]
        stats = {}
        
        stat_name = col
        stats['name'] = col
        
        stat_sum = np.sum(stat_col)
        stats['sum'] = stat_sum
        
        stat_mean = np.mean(stat_col)
        stats['mean'] = stat_mean
        
        stat_min = np.min(stat_col)
        stats['min'] = stat_min
        
        stat_max = np.max(stat_col)
        stats['max'] = stat_max
        
        if col == 'price':
            stat_med = np.median(stat_col)
            stats['median'] = stat_med
        
        all_stats.append(stats)
        
    return all_stats

In [41]:
stats = summary_stats(big_df)
stats

[{'name': 'price',
  'sum': 1797840781.0,
  'mean': 4230213.602352941,
  'min': 425000.0,
  'max': 52500000.0,
  'median': 2150000.0},
 {'name': 'studio', 'sum': 51.0, 'mean': 0.12, 'min': 0.0, 'max': 1.0},
 {'name': 'bath',
  'sum': 1000.0,
  'mean': 2.358490566037736,
  'min': 1.0,
  'max': 10.0},
 {'name': 'bed',
  'sum': 901.0,
  'mean': 2.1350710900473935,
  'min': 1.0,
  'max': 9.0},
 {'name': 'sqft',
  'sum': 8478063.0,
  'mean': 23355.545454545456,
  'min': 400.0,
  'max': 403741.0}]